
/** Landing content **/

.conference-content
{
	background-color: $dark-base-color;
}

.conference-content .landing-top p, .conference-content .landing-top h2, .conference-content .landing-top h3 
{
	color: $light-base-color;
	text-align: center;
}

.conference-content .landing-top
{
	padding-top: 200px;
	padding-bottom: 200px;

	h2
	{
		margin-bottom: 40px;
	}

	.btns 
	{
		margin-top: 40px;
		a 
		{
			margin-left: 15px;
			margin-right: 15px;
			font-size: 24px;
		}
	}

}

.about-cssa
{
	background-color: $primary-color;

	.text 
	{
		text-align: left;
		color: $primary-text-color;
	}
}

.conference-blurb
{
	background-color: $secondary-color;
	color: $light-base-color;

	.btn 
	{
		background-color: $secondary-color;
		border: 3px solid $light-base-color;
		margin-left: 20px;
		color: $light-base-color;
		font-size: 22px;
		font-weight: 400;
	}

	p 
	{
		margin-bottom: 0;
		font-weight: 500;
	}

}

