.featured-event
{
	background-color: white;

	.img 
	{
		background-color: black;
	}

	.text 
	{
		h3, p 
		{
			color: $primary-text-color;
		}

		.btn 
		{
			margin-top: 20px;
		}
	}
}

.events-carousel-container
{	
	background-color: white;

	h3
	{
		color: $primary-text-color;
	}
	.events-carousel
	{
		.event-card
		{
			height: auto;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);

			.img 
			{
				height: 200px;
			}

			.text
			{
				padding: 30px;
				p 
				{
					font-weight: 400;
					font-size: 16px;
				}

				a 
				{
					color: $primary-text-color;
				}				
			}
			
		}
	}
}