.events-content
{
	background-color: $dark-base-color;


	.top-section
	{
		padding-top: 300px;
		padding-bottom: 200px;
		position: relative;
		overflow: hidden;

		.circle-1 
		{
			position: absolute;
		    top: -520px;
		    right: 45%;
		    height: 1150px;
		    z-index: 3;
		    opacity: 1;
		}

		.text 
		{
			//opacity: 0;
			z-index: 5;
		}

		.description 
		{
			z-index: 5;
		}
	}
}


.events-content p, .events-content h2, .events-content h3 
{
	color: $light-base-color;
}


.featured-event
{
	background-color: white;

	.img 
	{
		background-color: black;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.text 
	{
		h3, p 
		{
			color: $primary-text-color;
		}

		.btn 
		{
			margin-top: 20px;
		}
	}
}

.events-carousel-container
{	
	background-color: white;

	h3
	{
		color: $primary-text-color;
	}
	.events-carousel
	{
		.event-card
		{
			height: auto;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
			margin-right: 30px;

			.img 
			{
				height: 200px;
			}

			.text
			{
				padding: 30px;
				p 
				{
					font-weight: 400;
					font-size: 16px;
				}

				a 
				{
					color: $primary-text-color;
				}				
			}
			
		}
	}
}