/** Landing content **/


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration: 0.75s;
 -moz-animation-duration:0.75s;
 animation-duration:0.75s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.5s;
-moz-animation-delay:1.5s;
animation-delay: 1.5s;
}

.fade-in.three {
-webkit-animation-delay: 2s;
-moz-animation-delay:2s;
animation-delay: 2s;
}


.landing-content
{
	background-color: $dark-base-color;
	position: relative;
	overflow: hidden;

	.circle-1 
	{
		position: absolute;
	    top: -426px;
	    right: -159px;
	    height: 1400px;
	    z-index: 3;
	    opacity: 0;
	}

	.radial-gradient
	{
		position: absolute;
	    right: 925px;
	    height: 500px;
	    z-index: 2;
	    top: 200px;
	    opacity: 0;
	}
}



.landing-content p, .landing-content h2, .landing-content h3 
{
	color: $light-base-color;
}

.landing-top
{
	padding-top: 300px;
	padding-bottom: 200px;
	z-index: 5;

	.text 
	{
		opacity: 0;
	}

	.description 
	{
		.btn 
		{
			margin-top: 15px;
		}
	}
}

.values-section
{
	z-index: 5;
}

.value-item
{
	padding-right: 30px; 

	.number
	{
		position: relative;
		height: 40px;
		width: 30px;
		i 
		{
			color: $light-base-color;
			position: absolute;
			top: 0;
			left: 0;
		}

		span
		{
			color: $light-base-color;
			position: absolute;
			bottom: 0;
			right: 0;
			font-weight: 100;
			padding-top: 10px;
		}
	}

	p 
	{
		margin-top: 20px;
	}
}

.value-item:nth-child(2)
{
	margin-top: 100px;
}

.value-item:nth-child(3)
{
	margin-top: 200px;
}

.value-item:nth-child(5)
{
	margin-top: 100px;
}

.event-card
{
	height: 300px;

	.img
	{
		background-size: cover;
		background-position: center;
	}

	.text 
	{
		background-color: white;
		padding: 40px;

		p
		{
			color: black;
		}
	}
}

.landing-join-section
{
	background-color: $primary-color;

	.text 
	{
	
		h3, p
		{
			color: $primary-text-color;
			text-align: center;
		}

		.btn 
		{
			background-color: $secondary-color;
			color: white;
			display: block;
			margin: 0 auto;
			width: 150px;
			margin-top: 20px;
		}
	}


}

.landing-team-section
{
	background-color: white;

	.text
	{
		margin-bottom: 50px; 
		text-align: center;

		h3, p
		{
			color: $primary-text-color;
		}

	}

	.team-member-container
	{	
		
		.img
		{
			width: 150px;
			height: 150px;
			border-radius: 100px;
			background-color: $primary-color;
			display: block;
			margin: 0 auto;
			position: relative;
			overflow: hidden;

			.overlay
			{
				height: 100%;
				width: 100%;
				background-color: black;
				opacity: 0;
				position: absolute;
				transition: 0.4s;
			}
		}

		.img:hover
		{
			.overlay
			{
				opacity: 1;
			}
		}

		p 
		{
			color: $primary-text-color;
			text-align: center;
			margin-top: 30px;
		}
	}


}

