.membership-content
{
	background-color: $dark-base-color;


	.top-section
	{
		padding-top: 300px;
		padding-bottom: 200px;
		position: relative;
		overflow: hidden;

		.circle-1 
		{
			position: absolute;
		    top: -520px;
		    right: 45%;
		    height: 1150px;
		    z-index: 3;
		    opacity: 1;
		}

		.text 
		{
			//opacity: 0;
			z-index: 5;
		}

		.description 
		{
			z-index: 5;
		}
	}
}

.membership-content p, .membership-content h2, .membership-content h3 
{
	color: $light-base-color;
}

.membership-benefits
{
	background-color: white;

	.text 
	{
		margin-bottom: 30px;

		h3, p 
		{
			color: $primary-text-color;
		}

	}

	.benefit-item
	{
		padding-right: 30px; 
		margin-bottom: 20px;

		.number
		{
			position: relative;
			height: 40px;
			width: 30px;
			i 
			{
				color: $primary-text-color;
				position: absolute;
				top: 0;
				left: 0;
			}

			span
			{
				color: #828282;
				position: absolute;
				bottom: 0;
				right: 0;
				font-weight: 100;
			}
		}

		p 
		{
			margin-top: 20px;
			color: $primary-text-color;
		}
	}
}

.activities
{
	background-color: $primary-color;

	.text 
	{
	
		h3, p
		{
			color: $primary-text-color;
		}

		.btn 
		{
			background-color: $secondary-color;
			color: white;
			margin-top: 20px;
			font-weight: 100;
		}
	}
}

.publications
{
	background-color: white;

	.text
	{
		h3, p
		{
			color: $primary-text-color;
			text-align: center;
		}
	}
}


.recognition
{
	background-color: white;

	.text
	{
		h3, p
		{
			color: $primary-text-color;
		}
	}

	.interests-container
	{
		margin-top: 30px;
		
		ul 
		{
			list-style-type: none;
			padding-left: 0;

			li 
			{
				padding-bottom: 15px;
			}
		}
	}

}

