$primary-font: 'Roboto', sans-serif;
$secondary-font: 'PT Sans', sans-serif;

/** COLORS **/

$primary-color: #FFD75C;
$secondary-color: #50DAEA;
$dark-base-color: #1B1B1B;
$light-base-color: #ffffff;

$primary-text-color: #333333;
$secondary-text-color: #4F4F4F;